{% extends 'base_main.html' %}

{% block content %}


    <title>{{ title }}</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <script type="text/javascript" language="JavaScript">
        function item_delete() {
            if (confirm("確定刪除嗎?")) {
                return true;
            } else {
                return false;
            }
        }
    </script>



    <div class="col-sm-auto">
        <div class="row-cols-3">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>股票名稱</th>
                    <th>股價</th>
                    <th>管理</th>
                </tr>
                </thead>
                {% for message in messages %}
                    <div class="alert aler-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
                {% for item in item_list %}
                    <thead>
                    <tr>
                        <td> {{ item.name }} </td>
                        <td>{{ item.value }}</td>
                        <td>
                            <a href="{% url 'item:delete' item.id %}" class="btn btn-info" role="button"
                               onclick="return item_delete()">刪除</a>
                            <a href="{% url 'item:edit' item.id %}" class="btn btn-info" role="button">編輯</a>
                        </td>
                    </tr>
                    </thead>
                {% endfor %}

                <tr>
                    <td>
                        <a href="{% url 'item:add' %}" class="btn btn-info" role="button">新增</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}